
.deck {
  display: flex;

  .card {
    &:not(:first-child) {
      margin-left: -6.5em;
    }

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('~images/deck-cover.png');
  }
}
